<html lang="en-us">
  <head>
  <title>授权管理与身份认证</title>
  <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
  <link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css">
  <script src="/static/js/jquery-1.8.3/jquery.min.js"></script>
  </head>
  <body class=" dashboard app-auth" data-admin-utc-offset="28800">
  <!-- Container -->
  <div id="container">
    <!-- Header -->
    <div id="header">
        <div id="branding">
        <h1 id="site-name"><a href="/admin/">用户管理</a></h1>
        </div>
        <div id="user-tools">
          欢迎,
          <strong id='username_nav'></strong>
          <a href="/home/">访问主页</a> /
          <a href="/admin/password_change/">修改密码</a> /
          <a href="/login/">退出登录</a>
        </div>
    </div>
    <!-- END Header -->
    <div class="breadcrumbs">
      <a href="/admin/">主页</a>
      ›
      身份认证与授权管理
    </div>
    <!-- Content -->
    <div id="content" class="colMS">
      <h1>身份认证与授权管理</h1>
      <div id="content-main">
        <div class="app-auth module">
          <table>
            <caption>
                <a href="/admin/auth/" class="section"
                title="Models in the Authentication and Authorization application">身份认证与授权管理</a>
            </caption>
            <tbody>
              <tr class="model-group">
                <th scope="row"><a href="/admin/auth/group/">群组</a></th>
                <td><a href="/admin/auth/group/add/" class="addlink">添加</a></td>
                <td><a href="/admin/auth/group/" class="changelink">修改</a></td>
              </tr>
              <tr class="model-user">
                <th scope="row"><a href="/admin/auth/user/">用户</a></th>
                <td><a href="/admin/auth/user/add/" class="addlink">添加</a></td>
                <td><a href="/admin/auth/user/" class="changelink">修改</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <br class="clear">
    </div>
    <!-- END Content -->
    <div id="footer"></div>
    <div style="background-color:#417690;position:fixed;bottom:0;height:60px;width:100%;">
      <div style="text-align:center;bottom:0"> copyright 2003-2026 www.sfit.com.cn All rights reserved.
        <br>上期技术 版权所有本网站所有内容均受版权保护。未经版权所有人明确的书面许可， 任何机构和个人不得以任何方式翻印、转载或用于商业用途。
      </div>
    </div>
  </div>
  <script>
    $("#username_nav").text(localStorage.getItem('logName'));
  </script>
  <!-- END Container -->
  </body>
</html>
