<html lang="en-us">
	<head>
		<title> {% block title %}{% endblock%} </title>
		<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
		<link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css">
		<!-- <script src="/static/js/jquery-1.8.3/jquery.min.js"></script> -->
    {% block script %}{% endblock %}
	</head>
	<body class=" dashboard" data-admin-utc-offset="0">
		<!-- Container -->
		<div id="container"  style="height:100%">
			<!-- Header -->
			{% include 'admin/header.html' %}
			<!-- END Header -->

      {% block content %} {% endblock %}

		</div>
		<!-- End Container -->
		<!-- Footer -->
		{% include 'admin/footer.html' %}
		<!-- END Footer -->
	</body>
</html>
