<html lang="en-us">
  <head>
    <title>Logged out | Django site admin</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
  </head>
  <body class="" data-admin-utc-offset="28800">
    <!-- Container -->
    <div id="container">
      <!-- Header -->
      <div id="header">
        <div id="branding">
          <h1 id="site-name"><a href="/admin/">用户管理</a></h1>
        </div>
      </div>
      <!-- END Header -->
      <div class="breadcrumbs"><a href="/admin/">主页</a></div>
      <!-- Content -->
      <div id="content" class="colM">
        <h1>退出登录</h1>
        <p>Thanks for spending some quality time with the Web site today.</p>
        <p><a href="/admin/">重新登录</a></p>
        <br class="clear">
      </div>
      <!-- END Content -->
      <div id="footer"></div>
    </div>
    <!-- END Container -->
  </body>
</html>
