<html lang="en-us">
	<head>
		<title>修改密码</title>
		<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
		<link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css">
    <script src="/static/js/jquery-1.8.3/jquery.min.js"></script>
	  <script src="/static/js/admin/password_change.js"></script>
		<meta name="robots" content="NONE,NOARCHIVE">
	</head>
	<body class=" dashboard" data-admin-utc-offset="28800">
		<!-- Container -->
		<div id="container">
			<!-- Header -->
			<div id="header">
				<div id="branding">
					<h1 id="site-name"><a href="/admin/">上期技术</a></h1>
				</div>
				<div id="user-tools">
					欢迎用户,
					<strong id='username_nav'></strong>
					<a href="/home/">访问主页</a> /
					<a href="/admin/password_change/">修改密码</a> /
					<a href="/login/">退出登录</a>
				</div>
			</div>
			<!-- END Header -->

			<div class="breadcrumbs">
			<a href="/admin/">主页</a>
			› 修改密码
			</div>
			<!-- Content -->
			<div id="content" class="colM">
				<h1>修改密码</h1>
				<div id="content-main">
					<form method="post">
						<input type="hidden" name="csrfmiddlewaretoken" value="k8zRWbelfPjQH8YR3QZeIKP2MMoHK1ANQ4985QFtO0YIASPoxKI9o84jmCI88FO4">
						<div>
							<p>请输入密码, 为了保证安全, 在输入新密码后请再输入一次进行确认.</p>
							<fieldset class="module aligned wide">
							<div class="form-row">
								<label class="required" for="id_old_password">旧密码:</label>
								<input autofocus="" id="id_old_password" name="old_password" type="password" required="">
							</div>
							<br>
							<div class="form-row">
								<label class="required" for="id_new_password1">新密码:</label> <input id="id_new_password1" name="new_password1" type="password" required="">
								<p class="help"></p>
								<ul>
									<li>您的密码不要和您的个人信息有太强的关联.</li>
									<!-- <li>您的密码至少有八个字符.</li> -->
									<li>您的密码不要和以前的密码相似.</li>
									<li>您的密码不可以都是数字.</li></ul><p></p>
							</div>
							<div class="form-row">
								<label class="required" for="id_new_password2">确认新密码:</label>
								<input id="id_new_password2" name="new_password2" type="password" required="">
							</div>
							</fieldset>
							<div class="submit-row">
								<input type="submit" value="修改我的密码" style="float:left"class="default">
							</div>
						</div>
					</form>
				</div>
				<br class="clear">
			</div>
			<!-- END Content -->
			<div id="footer"></div>
			<div style="background-color:#417690;position:fixed;bottom:0;height:60px;width:100%;">
				<div style="text-align:center;bottom:0"> copyright 2003-2026 www.sfit.com.cn All rights reserved.
					<br>上期技术 版权所有本网站所有内容均受版权保护。未经版权所有人明确的书面许可， 任何机构和个人不得以任何方式翻印、转载或用于商业用途。
				</div>
			</div>
		</div>
		<!-- END Container -->
	</body>
</html>
