#panelbar {
    max-width: 400px;
    margin: 0 auto;
}
html,
body {
 height: 100%;
 margin: 0;
 padding: 0;
}
#container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}
#page {
  padding-bottom: 60px;/*高度等于footer的高度*/
}
#footer {
  position: relative;
  margin-top: -60px;/*等于footer的高度*/
  height: 60px;
  clear:both;
  background: #417690;
}
