<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>Select group to change | Django site admin</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css">
    <script src="/static/js/jquery-1.11.3/jquery.min.js"></script>
    <script src="/static/js/admin/group.js"></script>
    <!-- <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/static/admin/js/actions.js"></script>
    <script type="text/javascript" src="/static/admin/js/urlify.js"></script>
    <script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
    <meta name="robots" content="NONE,NOARCHIVE"> -->
  </head>
<body class=" app-auth model-group change-list" data-admin-utc-offset="28800">
  <!-- Container -->
  <div id="container">
      <!-- Header -->
      <div id="header">
        <div id="branding">
          <h1 id="site-name"><a href="/admin/">用户管理</a></h1>
        </div>
        <div id="user-tools">
          欢迎,
          <strong>{{user.name}}</strong>.
          <a href="/">返回站点</a> /
          <a href="/admin/password_change/">修改密码</a> /
          <a href="/admin/logout/">退出登录</a>
        </div>
      </div>
      <!-- END Header -->
      <div class="breadcrumbs">
        <a href="/admin/">主页</a>
        › <a href="/admin/auth/">身份认证与授权管理</a>
        › 群组
      </div>
      <!-- Content -->
      <div id="content" class="flex">
        <h1>选择需要修改的群组</h1>
        <div id="content-main">
          <ul class="object-tools">
            <li>
              <a href="/admin/auth/group/add/" class="addlink">
                添加群组
              </a>
            </li>
          </ul>
          <div class="module" id="changelist">
            <div id="toolbar">
              <form id="changelist-search" method="get">
                <div><!-- DIV needed for valid HTML -->
                  <label for="searchbar"><img src="/static/admin/img/search.svg" alt="Search"></label>
                  <input type="text" size="40" name="q" value="" id="searchbar" autofocus="">
                  <input type="submit" value="Search">
                </div>
              </form>
            </div>
            <form id="changelist-form" method="post" novalidate="">
              <input type="hidden" name="csrfmiddlewaretoken" value="wAJWJDcwCFsMlbAikkrud8QKpwDtB0BV1uIhReIaSaf3yZJGl9XpmVmxZx0Xv79w">
              <div class="actions">
                <label>操作:
                  <select name="action" required="">
                    <option value="" selected="selected">---------</option>
                    <option value="delete_selected">删除选中的群组</option>
                  </select>
                </label>
                <input class="select-across" name="select_across" value="0" type="hidden">
                <button type="submit" class="button" title="Run the selected action" name="index" value="0">执行</button>
                <span class="action-counter" data-actions-icnt="1" style="display: inline;">0 of 1 selected</span>
              </div>
              <div class="results">
                <table id="result_list">
                  <thead>
                    <tr>
                      <th scope="col" class="action-checkbox-column">
                         <div class="text"><span>
                           <input id="action-toggle" type="checkbox"></span>
                           <input type='button' id='test_button' value='testCheckbox'>
                         </div>
                         <div class="clear"></div>
                      </th>
                      <th scope="col" class="column-__str__">
                         <div class="text"><span>群组</span></div>
                         <div class="clear"></div>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for group in groups %}
                    <tr class="row1">
                      <td class="action-checkbox">
                        <input class="action-select" name="_selected_action" value="1" type="checkbox">
                      </td>
                      <th class="field-__str__">
                        <a href="/admin/auth/group/change/">{{group.name}}</a>
                      </th>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <p class="paginator">0 个被选中 </p>
            </form>
          </div>
        </div>
        <br class="clear">
      </div>
      <!-- END Content -->
      <div id="footer"></div>
    </div>
    <!-- END Container -->
  </body>
</html>
