*.pyc
__pycache__
*.pyo
*.pyd
*.so
*.dll
*.exe
*.lib
*.a
*.o
*.obj
*.dylib
*.framework
*.jar
*.war
*.ear
*.zip
*.gz
*.tar
*.bz2
*.xz
*.7z
*.rar
*.img
*.iso
*.vhd
*.vmdk
*.qcow2
*.raw
*.img
*.vdi
*.vmdk
*.vhdx
*.vbox
*.ova
*.ovf
*.vmx
*.vmx.bak

*/dist/
*/build/