<input type="button" id="request_real_time_info_task" value="Request Real Time Info Task"> <br><br>

<input type="button" id="request_real_time_versionCtr_task" value="Request Real Time VersionCtr Task"> <br><br>

<input type="button" id="Request_Task_Ntf" value="Request Ntf Task"> <br><br>

<input type="button" id="Get_NTF_Task_State" value="Get Ntf Task State"> <br><br>

<input type="button" id="Get_NTF_Task_Result" value="Get Ntf Task Result"> <br><br>

<input type="button" id="Test_User_Login" value="Test User Login"> <br><br>

<input type="button" id="Set_ENV_KEY" value="Set ENV_KEY"> <br><br>

<input type="button" id="Request_Task_Rpc" value="Request Task Rpc"> <br><br>

<input type="button" id="Request_All_SrvStatus" value="Request All SrvStatus"> <br><br>

<input type="button" id="Request_All_TaskList" value="Request All TaskList"> <br><br>

<input type="button" id="Request_All_TaskResult" value="Request All TaskResult"> <br><br>

<input type="button" id="Request_All_Version" value="Request All Version"> <br><br>
