<!DOCTYPE html>
<html>
<head>
<title>上期技术版本控制登录系统</title>
<!--webfonts-->
<script src="/static/js/jquery-1.11.3/jquery.min.js"></script>
<script src="/static/js/developer/cookie.js"></script>
<link rel='stylesheet' href='/static/styles/developer/style.css'>
<!--//webfonts-->
</head>
<body>
 <!--SIGN UP-->
 <h1>上期技术版本控制登录系统</h1>
<div class="login-form">
	<div class="avtar">
		<img src="/static/images/avtar.png" />
	</div>
			<form>
					<input type="text" class="text" placeholder = '请输入用户名' id= 'loginName'>
						<div class="key">
				   	<input type="password"  placeholder = '请输入密码' id = 'loginPassword' >
						</div>
			</form>
	<div class="signin">
		<input id= 'loginBtn' type="submit" value="登录">
	</div>
</div>
 <div class="copy- rights">
  <p>上期技术版权所有</p>
 </div>
 <script>
    $('#loginBtn').click(function(){
      var logName = $('#loginName').val();
      var logPassword = $('#loginPassword').val();
      if(logName == '') {
        alert('请输入用户名');
      } else if(logPassword == '') {
        alert('请输入密码');
      } else if(logName === "admin" && logPassword === "admin") {

        setCookie('username',logName,30);
        setCookie('password',logPassword,30);
        window.location.href="/home/";

      } else {
        alert('用户名或者密码错误！');
      }
    })
 </script>
</body>
</html>
