<div id="header" style="background-color:#417690; height:60px;margin-bottom:20px;padding:10px 40px;line-height:40px">
    <div  style= 'float:left;'>
      <div style= 'font-size:24px;font-weigth:300'>
        <a href="/home.html" style="color: #f5dd5d">上期技术监控专用版本控制系统</a></div>
    </div>
    <div  style=" float:right;">
      <div id="userMessage" style = 'color:white;font-size:15px;'>
        <div >
          <span style = ''>用户信息：</span>
          <span  class = 'username_nav' style = 'font-weight:bold'></span>
          <span style=""> &nbsp/&nbsp </span >
          <span >环境选择： </span>
          <select class = 'EvrKeySelect' id = 'keySelect' style = 'color:black'>
          </select>
          <span style=""> &nbsp/&nbsp </span >
          <a href = '/login.html' style = 'color:white;'>退出登录</a>

          <!-- <div style="clear:both"></div> -->
        </div>
        <!-- <div style=" margin:10px 0;">
          <div style = 'clear: both;float:left;'>环境选择： </div>
          <select class = 'EvrKeySelect' id = 'keySelect' style = 'float:left;color:black'>
          </select>
          <div style="clear:both"></div>
        </div> -->
      </div>
    </div>
</div>
<script>
//ENV_KEY 为当前环境值， ENV_KEY_SET为后台给的可选择环境集合
  initEnv();
  getEnvKeySet();
  $('#keySelect').val(localStorage.getItem('ENV_KEY'));
  // var currentEvr = $('#keySelect').val();
  $("#keySelect").change(function(){
    if(confirm("确定要将环境切换成" + $('#keySelect').val() + "吗？")){
      // $("#currentEvr").text($('#keySelect').val());
      // currentEvr = $('#keySelect').val();
      localStorage.setItem('ENV_KEY', $('#keySelect').val());
    } else {
      $('#keySelect').val(localStorage.getItem('ENV_KEY'));
    }
  })
  function initEnv() {
    $(".username_nav").text(localStorage.getItem('logName'));
    $("#currentEvr").text(localStorage.getItem('ENV_KEY'));
  }
  function getEnvKeySet() {
    var str  = localStorage.getItem('ENV_KEY_SET');
    var obj = JSON.parse(str);
    if(obj === null) {
      return;
    }
    for(var i = 0; i < obj.length; i++) {
      $("#keySelect").append("<option>" + obj[i] + "</option>")
    }
  }
</script>
