<!DOCTYPE html>
<head lang="en">
    <meta charset="utf-8">
    <title> Test Request </title>
    <script src="/static/js/jquery-1.11.3/jquery.min.js"></script>
</head>
<body>
  <div id = 'Test Communication'>
      <h1> Hello {{name}} </h1>
	  <h2> Hello {{user.name}} </h2>
  </div>
  <ul>
    {% for user_name in users%}
      <li> {{user_name}} </li>
    {% endfor %}
  </ul>
  <input type="button" id="Set_ENV_KEY" value="Set ENV_KEY">
  <p id="Set_ENV_KEY_Rsp"></p>
  <input type="button" id="Request_Task_Rpc" value="Request Task Rpc">
  <p id="Request_Task_Rpc_Rsp"></p>
  <input type="button" id="Request_Task_Ntf" value="Request_Task_Ntf">
  <p id="Request_Task_Ntf_Rsp"></p>
  <input type="button" id="Request_All_SrvStatus" value="Request All SrvStatus">
  <p id="Request_All_SrvStatus_Rsp"></p>
  <input type="button" id="Request_All_TaskList" value="Request All TaskList">
  <p id="Request_All_TaskList_Rsp"></p>
  <input type="button" id="Request_All_TaskResult" value="Request All TaskResult">
  <p id="Request_All_TaskResult_Rsp"></p>
  <input type="button" id="Request_All_Version" value="Request All Version">
  <p id="Request_All_Version_Rsp"></p>

  <form id="uploadForm" enctype="multipart/form-data">
      <input id="file" type="file" name="file"/>
      <button id="upload" type="button">upload</button>
  </form>

  <input type="button" id="Set_DB_Data" value="Set DB Data">
  <input type="button" id="Get_DB_Data" value="Get DB Data">

	<script>
      $('#upload').click(function(){
        var Url = '/AJAX/Upload_File/';

        var name = $("#file").val();
        console.log ('name: ' + name)
        var formData = new FormData();
        formData.append("file",$("#file")[0].files[0]);
        formData.append("name",name);

        var file = document.getElementById('file').files[0];
        if (file) {
          console.log (file.size)
        }
        $.ajax({
          url : Url,
          type : 'POST',
          cache: false,
          data : formData,
          processData : false,   // 告诉jQuery不要去处理发送的数据
          contentType : false,   // 告诉jQuery不要去设置Content-Type请求头
          dataType: 'json',
          beforeSend:function(){
            console.log("正在进行，请稍候");
          },
          success : function(responseStr) {
            console.log (responseStr)
          },
          error : function(responseStr) {
            console.log("error");
          }
        });
      })

      $('#Set_ENV_KEY').click(function(){
        var ENV_KEY = 'PTEST_170'
        // var ENV_KEY = 'TEST_170'
        $.ajax({
          url: '/AJAX/Set_ENV_KEY/',
          data: {'env_key_value': ENV_KEY},
          dataType: 'json',
          type: 'POST',
          traditional: true,
          success: function (responseJSON) {
              console.log (responseJSON)
          }
        });
      });

      $('#Request_Task_Rpc').click(function(){
        //   req_data = {
        //     'type': 'version_control',
        //     '--cmd': 'publish',
        //     '--args':'xml:2.3.114',
        //     '--grp': '',
        //     '--ctr': '',
        //     '--srv': '',
        //     '--srvno': '',
        //     '--ictr': '',
        //     '--isrv': '',
        //     '--isrvno': '',
        //   }

        req_data = {
          '--cmd': 'info',
          '--args':'',
          '--grp': '',
          '--ctr': '',
          '--srv': '',
          '--srvno': '',
          '--ictr': '',
          '--isrv': '',
          '--isrvno': '',
        }

        $.ajax({
          url: '/AJAX/Request_Task_Rpc/',
          data: {'req_json': JSON.stringify(req_data)},
          dataType: 'json',
          type: 'POST',
          traditional: true,
          success: function (responseJSON) {
              console.log (responseJSON)
          }
        });
      })

      $('#Request_Task_Ntf').click(function(){
          $.getJSON('/AJAX/Request_Task_Ntf/',function(rsp_result){
              console.log (rsp_result)
              // $('#Request_All_TaskList_Rsp').append(rsp_result.twz + '<br>');
          })
      })

      $('#Request_All_SrvStatus').click(function(){
          $.getJSON('/AJAX/Request_All_SrvStatus/',function(rsp_result){
              console.log (rsp_result)
              // $('#Request_All_TaskList_Rsp').append(rsp_result.twz + '<br>');
          })
      })

      $('#Request_All_TaskList').click(function(){
          $.getJSON('/AJAX/Request_All_TaskList/',function(rsp_result){
              console.log (rsp_result)
              // $('#Request_All_TaskList_Rsp').append(rsp_result.twz + '<br>');
          })
      })

      $('#Request_All_TaskResult').click(function(){
          $.getJSON('/AJAX/Request_All_TaskResult/',function(rsp_result){
              console.log (rsp_result)
              // $('#Request_All_TaskResult_Rsp').append(rsp_result.twz + '<br>');
          })
      })

      $('#Request_All_Version').click(function(){
          $.getJSON('/AJAX/Request_All_Version/',function(rsp_result){
              console.log (rsp_result)
              // $('#Request_All_Version_Rsp').append(rsp_result.twz + '<br>');
          })
      })

      $('#Set_DB_Data').click(function(){
          $.getJSON('/AJAX/Set_DB_Data/',function(rsp_result){
              console.log (rsp_result)
          })
      })

      $('#Get_DB_Data').click(function(){
          $.getJSON('/AJAX/Get_DB_Data/',function(rsp_result){
              console.log (rsp_result)
          })
      })
	</script>

</body>
