<link rel="stylesheet" href="/static/styles/bootstrap-3.3.5-dist/bootstrap.min.css">
<link rel="stylesheet" href="/static/styles/kendo/kendo.common.min.css">
<link rel="stylesheet" href="/static/styles/kendo/kendo.rtl.min.css">
<link rel="stylesheet" href="/static/styles/kendo/kendo.default.min.css">
<link rel="stylesheet" href="/static/styles/kendo/kendo.dataviz.min.css">
<link rel="stylesheet" href="/static/styles/kendo/kendo.dataviz.default.min.css">
<link rel="stylesheet" href="/static/styles/kendo/kendo.mobile.all.min.css">
<link rel="stylesheet" href="/static/styles/developer/test.css">
<script src="/static/js/jquery-1.11.3/jquery.min.js"></script>
<script src="/static/js/kendo/kendo.all.min.js"></script>
<script src="/static/js/bootstrap-3.3.5-dist/bootstrap.min.js"></script>
<script src="/static/js/developer/cookie.js"></script>
