<!DOCTYPE html >
<html >
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>上期技术监控专用版本控制系统</title>
  {% include 'dependence.html' %}
</head>
<body>
    <div id = 'container'>
      {% include 'nav.html' %}
      <div id ='page' style="clear:both;">
        <div id="left">{% include 'leftcontentmenu.html' %}</div>
				<div id="content">{% include 'rightBlock-deploy.html' %}</div>
        </div>
      </div>
      <!-- footer -->
      {% include 'footer.html' %}
   <script>
      $(document).ready(function() {
          $("#panelbar").kendoPanelBar({
              // expandMode: "single"
          });
          $("a").removeClass('k-state-selected');
          $('#deploy').addClass('k-state-selected');
      });
    </script>
</body>
</html>
