
<div id="footer" class ='footer' style="background-color:#417690;">
  <footer>
    <div class="inner">
      <div class="wrapper">
        <div class="block-1">
            <div style=" text-align: center "> copyright 2003-2026 www.sfit.com.cn All rights reserved.<br>上期技术 版权所有
本网站所有内容均受版权保护。未经版权所有人明确的书面许可， 任何机构和个人不得以任何方式翻印、转载或用于商业用途。</div>
            <!-- <dd><a href="index-6.html">Privacy policy</a></dd> -->
          <p>
            <!-- {%FOOTER_LINK} -->
          </p>
        </div>
      </div>
    </div>
  </footer>
</div>
