<div class="col-md-2"  style=" border-style: solid;border-width: 0 2px 0px 0px;border-right-color: gray; margin-left: 5px;margin-bottom:60px">
   <ul id="panelbar">
     <li class="k-state-active " style="display:none"> 用户管理
      <ul>
       <li> <a id = 'admin' href ="/admin.html" style="display:none">权限</a></li>
      </ul>
     </li>
     <li class="k-state-active" style="display:none"> 运维管理
      <ul>
       <li><a id = 'info' href = '/info.html'style="display:none">信息查询</a></li>
       <li><a id = 'deploy' href = '/deploy.html' style="display:none">安装部署</a></li>
       <li><a id = 'process' href = '/process-control.html' style="display:none">进程控制</a> </li>
      </ul>
     </li>
     <li class="k-state-active" style="display:none"> 版本控制
      <ul>
       <li><a id = 'search' href="/version-control-search.html" style="display:none">查询</a></li>
       <li><a id = 'release' href="/version-control-release.html" style="display:none">发布</a></li>
       <li><a id = 'roll-back' href="/version-control-roll-back.html" style="display:none">回退</a></li>
       <li><a id = 'drop' href="/version-control-drop.html" style="display:none">删除</a></li>
       <li><a id = 'diff' href="/version-control-diff.html" style="display:none">文本差异化比较</a></li>
      </ul>
     </li>
     <li class="k-state-active" style="display:none"> 即时任务
      <ul>
      <li><a id= 'config' style="display:none">配置管理</a></li>
      <li><a id = 'realTimeStatus' style="display:none">查询状态</a></li>
      </ul>
     </li>
     <li class="k-state-active" style="display:none"> 计划任务
      <ul>
      <li><a id ='planStatus' style="display:none">查询状态</a></li>
      </ul>
     </li>
    </ul>
</div>
<style>
 .k-link {
  color:#2e2e2e ;
}

</style>
<script>
  dataProcess();

  function dataProcess(){
    var permissionString = localStorage.getItem('permission');
    var array = permissionString.split(';');
    if(array.length == 0) {
      return;
    }
    for(var i = 0;i < array.length;i ++) {
      $('#' + idMap(array[i])).parents('li').show();
      $('#' + idMap(array[i])).show();
    }
  }

  function idMap(data) { // 将汉字转成对应的 id
    var myString = data.replace(/\s+/g,"");// 去除所有空格
    var string1 = '管理用户权限';
    switch (myString) {
      case '管理用户权限':
        return 'admin'
        break;
      case '运维管理|信息查询':
        return 'info'
        break;
      case '运维管理|进程控制':
        return 'process'
        break;
      case '运维管理|安装部署':
        return 'deploy'
        break;
      case '版本控制|查询':
        return 'search'
        break;
      case '版本控制|发布':
        return 'release'
        break;
      case '版本控制|回退':
        return 'roll-back'
        break;
      case '版本控制|删除':
        return 'drop'
        break;
      case '版本控制|文本差异化比较':
        return 'diff'
        break;
      case '即时任务|配置管理':
          return 'config'
          break;
      case '即时任务|查询状态':
        return 'realTimeStatus'
        break;
      case '计划任务|查询状态':
        return 'planStatus'
        break;
      default:
    }
  }


</script>
