<div class="col-md-2"  style=" border-style: solid;border-width: 0 2px 0px 0px;border-right-color: gray; margin-left: 5px;margin-bottom:60px">
   <ul id="panelbar">
     <li class="k-state-active"> 用户管理
       <!-- <div class="teamMate"> -->
         <ul>
          <li> <a href ="/admin.html">权限</a></li>
         </ul>
       <!-- </div> -->
      </li>
     <li class="k-state-active"> 运维管理
      <ul>
       <li class="k-state-active"><a href = '/op-states.html'>信息查询</a>
       </li>
       <li class="k-state-active"><a href = '/deploy.html'>安装部署</a>
         <!-- <ul>&nbsp &nbsp &nbsp &nbspdeployConsole</ul>
         <ul>&nbsp &nbsp &nbsp &nbspundeployConsole</ul>
         <ul>&nbsp &nbsp &nbsp &nbspdeployServer</ul>
         <ul>&nbsp &nbsp &nbsp &nbspundeployServer</ul> -->
        </li>
        <li class="k-state-active"><a href = '/process-control.html'>进程控制</a>
          <!-- <ul>&nbsp &nbsp &nbsp &nbsp show</ul>
          <ul>&nbsp &nbsp &nbsp &nbsp alive</ul>
          <ul>&nbsp &nbsp &nbsp &nbsp dead</ul>
          <ul>&nbsp &nbsp &nbsp &nbspstart</ul>
          <ul>&nbsp &nbsp &nbsp &nbspstop</ul>
          <ul>&nbsp &nbsp &nbsp &nbspclean</ul>
          <ul>&nbsp &nbsp &nbsp &nbspstopcln</ul>
          <ul>&nbsp &nbsp &nbsp &nbsprmcore</ul> -->
        </li>
      </ul>
     </li>
     <li class="k-state-active"> 版本控制
      <ul>
        <li><a href="/version-control-search.html">查询</a></li>
       <li><a href="/version-control-release.html">发布</a></li>
       <li><a href="/version-control-roll-back.html">回退</a></li>
       <li><a href="/version-control-drop.html">删除</a></li>
       <li><a href="/version-control-diff.html">文本差异化比较</a></li>
      </ul>
     </li>
     <li class="k-state-active"> 即时任务
      <ul>
      <li>配置管理</li>
      <li>查询状态</li>
      </ul>
     </li>
     <li class="k-state-active"> 计划任务
      <ul>
      <li>查询状态</li>
      </ul>
     </li>
    </ul>
</div>
