<div class="col-md-9 op-states" >
  <div id = 'instruction'  style="border:4px dashed gray;" class="col-md-12"><div style="font: bold 25px arial;">使用说明(点击显示隐藏):</div>
    <p  style='display: none' id = 'instructionContent'>Usage for ecall:<br>
     python main.py --cmd CMD_OPTION [--grp GROUP] [--ctr CTR] [--srv SRV] [--srvno SRVNO] [--ictr CTR] [--isrv SRV] [--isrvno SRVNO]
         <br>CMD_OPTION as:<br>info [--args host|relay|app]  -- -- Show server apps infos</p>
  </div>
  <div class="col-md-12" style="border:2px solid gray; background-color: 	#F0F8ff;margin-top:10px;padding-bottom:10px">
    <div style="font: bold 25px arial;">参数设定</div>
    <div  class = 'deploySelect'>
      <div class = 'row'>
        <div  class="col-xs-2" > 安装部署选择</div>
        <div class="col-xs-3">
          <div id = 'parameter' class = 'inputValue'></div>
        </div>
      </div>
    </div>
    <div class = 'parameterSelect'  >
      <div class="row" >
        <div class="col-xs-2">对象组：</div>
        <div class="col-xs-3">
          <input type="text" class="form-control inputValue" id = 'grp' placeholder="AllInternal">
        </div>
      </div>

    </div>
    <div  class = 'parameterSelect'>
      <div style = 'font: bold 20px arial; '>对象参数：</div>
      <div  class="row">
        <div class="col-xs-4">
            <div class="row">
              <div class="col-xs-3">数据中心:</div>
              <div class="col-xs-6">
                <input type="text" class="form-control inputValue" id = 'ctr' placeholder="PD|BJ|ZJ">
              </div>
            </div>
        </div>
        <div class="col-xs-4">
          <div class="row">
            <div class="col-xs-3">进程名:</div>
            <div class="col-xs-7">
              <input type="text" class="form-control inputValue" id = 'srv' placeholder="monprobe，monproxy">
            </div>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="row">
            <div class="col-xs-3">进程编号:</div>
            <div class="col-xs-6">
              <input type="text" class="form-control inputValue" id = 'srvno' placeholder="1-3,6,8">
            </div>
          </div>
        </div>
      </div>
      <div style = 'font: bold 20px arial '>排除对象参数(取反模式)：</div>
      <div class="row">
        <div class="col-xs-4">
            <div class="row">
              <div class="col-xs-3">数据中心:</div>
              <div class="col-xs-6">
                <input type="text" class="form-control inputValue" id = 'ictr' placeholder="PD|BJ|ZJ">
              </div>
            </div>
        </div>
        <div class="col-xs-4">
          <div class="row">
            <div class="col-xs-3">进程名:</div>
            <div class="col-xs-7">
              <input type="text" class="form-control inputValue" id = 'isrv' placeholder="monprobe，monproxy">
            </div>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="row">
            <div class="col-xs-3">进程编号:</div>
            <div class="col-xs-6">
              <input type="text" class="form-control inputValue" id = 'isrvno' placeholder="1-3,6,8">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button  onclick ='submitReq()' class="btn btn-primary btn-default">提交</button>

  <div  id= 'getarg' style="font: bold">执行结果：<br>
    <div id= 'result' style="height: 400px"> </div>
  </div>
</div>
<style>
 .deploySelect {
   border:2px solid gray;
   margin-top:5px;
   background-color:	#FF9900;
 }
 .parameterSelect {
   border:2px solid gray;
   margin-top:5px;
   background-color: 		#C0C0C0;
 }
 .onSelect {
   background-color:	#FF6347;
 }
</style>
<script>

  $('#instruction').click(function(){
    $(this).find('p').is(':hidden') ? $(this).find('p').show() :  $(this).find('p').hide()
  })
  // var optionSelectTips = "请选择参数类型";
  $('#parameter').kendoDropDownList({
    // optionLabel: optionSelectTips,
    dataSource : ['show','alive','dead','start','stop','clean','stopcln','rmcore']
  })
  $('.inputValue').focus(function() {
    var selectNow = $(this).parents('.parameterSelect');
    selectNow.addClass('onSelect');
    selectNow.siblings().removeClass('onSelect')
  })
  document.onkeydown=function(){
    if (event.keyCode == 13){
       submitReq();
    }
    else{
    }
   }
  function submitReq() {
    var req_data = getReq_data();
    $('#result').hide();
    $.ajax({
      url: 'http://172.1.128.170:8000/AJAX/Request_Task_Rpc/',
      data: {'req_json': JSON.stringify(req_data)},
      dataType: 'json',
      type: 'POST',
      traditional: true,
      success: function(responseJSON) {
        showResult(responseJSON);
      }
    });
  }
  function getReq_data(){
    var array = $('.parameterSelect')
    var select = $('#parameter').data("kendoDropDownList").text();
    console.log(select);
    if ($(array[0]).hasClass('onSelect')) {
      req_data = {
        '--cmd': select,
        '--grp': $('#grp').val()
      }
    }else if ($(array[1]).hasClass('onSelect')) {
      req_data = {
        '--cmd': select,
        '--ctr': $('#ctr').val(),
        '--srv': $('#srv').val(),
        '--srvno': $('#srvno').val(),
        '--ictr': $('#ictr').val(),
        '--isrv': $('#isrv').val(),
        '--isrvno': $('#isrvno').val()
      }
    } else {
      req_data = {
        '--cmd': 'deployConsole',
        '--args': '',
        '--grp': '',
        '--ctr': '',
        '--srv': '',
        '--srvno': '',
        '--ictr': '',
        '--isrv': '',
        '--isrvno': '',
      }
    }
    return req_data;
  }
  function showResult(data)  {
    var titles = getTitles(data);
    $('#result').show();
    $('#result').kendoGrid({
     selectable: "multiple cell",
     allowCopy: true,
     scrollable: true
    });
    $('#result').data("kendoGrid").setOptions({
      columns:titles
    })
    var dataSource = new kendo.data.DataSource({
      data: data.data
    })
    $('#result').data("kendoGrid").setDataSource(dataSource);
  }
  function getTitles(data){
    if(data.type === 'relay'){
      return [
        { field: "origin_ip_address" ,title: '原IP地址'},
        { field: "relay_relation" ,title: '中继关系'},
      ]
    }else if (data.type === 'host') {
     return [
        { field: "ip_address" ,title: 'IP地址'},
        { field: "os_type" ,title: '操作系统类型'},
        {field: "host_name" ,title: '主机名'},
      ]
    }else {
      return [
        { field: "object_info" ,title: '对象信息'},
        { field: "ip_address" ,title: 'IP地址'},
        {field: "cmd_line" ,title: '启动命令'},
      ]
    }
  }

</script>
