<div  class="col-md-9" >
  <div class="searchLeftContainer " style = 'float: left;width: 70%' >
    <div style = 'border-bottom: 1px solid #BDBDBD; margin-top: 1em'>
     <div id = 'object'>
       <div class="form-group">
         <label style= 'width:150px;float:left'><h4>对象选择：</h4></label>
         <input  class="form-control" style= 'width:100px;float:left' id="inputObject" >
         <label class="col-md-2 " style= 'margin-left: 20px; border-left:  1px solid #BDBDBD'><h4>版本号：</h4></label>
         <div class="col-md-2">
           <input class="form-control" id="inputVersion" placeholder="0.0.0">
         </div>
         <div class="=col-md-2">
           <button type="button" class="btn btn-primary btn-default" id ='searchSubmit' onclick ='submitDropVersion()'>删除此版本</button>
         </div>
       </div>
     </div>
   </div>
    <div id = 'releaseResult' style = 'margin-top:2em;'></div>
  </div>
  <div class="rightContainer"  style = 'float: right;width: 25%;height:550px;border-left: 1px solid #BDBDBD;'>
    {% include 'rightBlock-version-control-rightVersion.html' %}
  </div>
</div>
<script>
  init();

  function init(){
    keyDownEvent();
    $('#inputObject').kendoDropDownList({
        dataSource : ['xml','server','client']
    });
    $('#inputObject').change(function(){
      var inputvalue = $(this).val()
      if(inputvalue == 'server' || inputvalue == 'client'){
        $('#inputVersion').attr('placeholder','0.0.0.0')
      } else  {
        $('#inputVersion').attr('placeholder','0.0.0')
      }
    })
  }

  function submitDropVersion() {
    var objType = $('#inputObject').val();
    var versionName = $('#inputVersion').val();
    var args = objType + ':' + versionName
    console.log(args);
    if(isRightversionType(versionName) === false) {
      return;
    }
    if(confirm('确实要删除版本' + objType + ':' +versionName +'吗?')){
      unbindEvent('searchSubmit');
      reqDrop(args);
    }
  }

  function reqDrop(args) {
    var req_data = {
      'ENV_KEY':sessionStorage.getItem('ENV_KEY'),
      'type': 'version_control',
      "--cmd" : "drop",
      "--args": args
    }
    $.ajax({
      url: '/AJAX/Request_Real_Time_VersionCtr_Task/',
      data: {'req_json': JSON.stringify(req_data)},
      dataType: 'json',
      type: 'POST',
      traditional: true,
      success: function (responseJSON) {
        resultShow(responseJSON);
        rebindEvent('searchSubmit');
      }
    });
  }

  function resultShow(result) {
    if(result.type == 'Failed') {
      alert(result.data[0]);
    } else {
      $('h3').remove();
      $('#releaseResult').before("<h3>删除的版本为： </h3>");
      $('#releaseResult').kendoGrid({
      //  selectable: "multiple cell",
       allowCopy: true,
       scrollable: false,
       columns : [
         { field: "status" ,title: '状态'},
         { field: "version" ,title: '版本'},
         {field: "SEQ" ,title: 'SEQ'},
         {field: "datetime" ,title: '提交时间'},
       ]
      });
      var dataSource = new kendo.data.DataSource({
        data: result.data
      })
      $('#releaseResult').data("kendoGrid").setDataSource(dataSource);
    }
  }

  function isRightversionType(data) {
    if(data.length === 0) {
      alert("请输入版本号！");
      return false;
    }
    if(allVersionData.length === 0) {
      alert("获取版本信息失败");
    }
    for(var i = 0; i < allVersionData.length; i ++) {
      if(allVersionData[i].version == data) {
        return true;
      }
    }
    alert("输入的版本号不存在");
    return false;
  }

  function keyDownEvent() {
    $(document).bind('keydown', function(event) {
      if (event.keyCode == 13){
         submitDropVersion();
      }
    })
  }

  function unbindEvent(id) {
    $(document).unbind('keydown');
    $('#' + id).attr('disabled', 'disabled');
  }

  function rebindEvent(id) {
    keyDownEvent();
    $('#' + id).removeAttr('disabled');
  }
</script>
