<div  class="col-md-9" >
  <div class="searchLeftContainer " style = 'float: left;width: 70%' >
    <div style = 'border-bottom: 1px solid #BDBDBD; margin-top: 1em'>
     <div id = 'object'>
       <form class="form-horizontal" role="form">
         <div class="form-group">
           <label style= 'width:150px;float:left'><h4>对象选择：</h4></label>
           <input  class="form-control" style= 'width:100px;float:left' id="inputObject" >
           <label class="col-md-2 " style= 'margin-left: 20px; border-left:  1px solid #BDBDBD'><h4>版本号：</h4></label>
           <div class="col-md-2">
             <input class="form-control" id="inputVersion" placeholder="0.0.0">
           </div>
           <div class="=col-md-2">
             <button type="button" class="btn btn-primary btn-default" id ='searchSubmit' onclick ='reqSearchResult()'>查询</button>
           </div>
         </div>
       </form>
     </div>
   </div>
    <div id = 'releaseResult' style = 'margin-top:2em;height:500px;'></div>

  </div>
  <div class="rightContainer"  style = 'float: right;width: 25%;height:550px;border-left: 1px solid #BDBDBD;'>
    {% include 'rightBlock-version-control-rightVersion.html' %}
  </div>
</div>
<script>
  keyDownEvent();
  $('#inputObject').kendoDropDownList({
      dataSource : ['xml','server','client']
  });
  $('#inputObject').change(function(){
    var inputvalue = $(this).val()
    if(inputvalue == 'server' || inputvalue == 'client'){
      $('#inputVersion').attr('placeholder','0.0.0.0')
    } else  {
      $('#inputVersion').attr('placeholder','0.0.0')
    }
  })
  function reqSearchResult() {
    var objType = $('#inputObject').val();
    var versionName = $('#inputVersion').val();
    var args = objType + ':' + versionName
    console.log(args);
    if(isRightversionType(versionName) === false) {
      return;
    }
    var req_data = {
      'ENV_KEY':localStorage.getItem('ENV_KEY'),
      'type': 'version_control',
      "--cmd" : "show",
      "--args": args
    }
    $.ajax({
      url: '/AJAX/Request_Real_Time_VersionCtr_Task/',
      data: {'req_json': JSON.stringify(req_data)},
      dataType: 'json',
      type: 'POST',
      traditional: true,
      success: function (responseJSON) {
        console.log(responseJSON);
        responseReleaseResult(responseJSON);
        keyDownEvent();
      }
    });
  }

  function responseReleaseResult(responseJSON) {
    if(responseJSON.type != 'Fail') {
      $('#releaseResult').kendoGrid({
      //  selectable: "multiple cell",
       allowCopy: true,
       scrollable: false,
       columns : [
         { field: "status" ,title: '状态'},
         { field: "version" ,title: '版本'},
         {field: "SEQ" ,title: 'SEQ'},
         {field: "datetime" ,title: '提交时间'},
       ]
      });
      var dataSource = new kendo.data.DataSource({
        data: responseJSON.data
      })
      $('#releaseResult').data("kendoGrid").setDataSource(dataSource);
    } else {
      alert('Fail!');
    }
  }

  function isRightversionType(data) {
    if(data.length === 0) {
      alert("请输入版本号！");
      return false;
    }
    if(allVersionData.length === 0) {
      alert("获取版本信息失败");
    }
    for(var i = 0; i < allVersionData.length; i ++) {
      if(allVersionData[i].version == data) {
        return true;
      }
    }
    alert("输入的版本号不存在");
    return false;
  }

  function keyDownEvent() {
    $(document).bind('keydown', function(event) {
      if (event.keyCode == 13){
         reqSearchResult();
      }
      else{}
    })
  }
</script>
