<!DOCTYPE html >
<html >
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>上期技术分发管理系统</title>
  <link rel="stylesheet" type="text/css" href="static/jsdifflib/diffview.css"/>
  {% include 'dependence.html' %}
</head>
<body>
    <div id = 'container'>
      {% include 'nav.html' %}
      <div id ='page' style="clear:both;">
        <div id="left">{% include 'leftcontentmenu.html' %}</div>
				<div id="content">{% include 'rightBlock-diff.html' %}</div>
        </div>
      </div>
      <!-- footer -->
      {% include 'footer.html' %}
   <script>
      $(document).ready(function() {
          $("#panelbar").kendoPanelBar({
          });
      });
    </script>
    <script type="text/javascript" src="static/jsdifflib/diffview.js"></script>
    <script type="text/javascript" src="static/jsdifflib/difflib.js"></script>
</body>
</html>
